<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= routeId %></title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="container">
        <br>
        <h1>Dublin Bus Tracker</h1>
        <h2><%= routeId %></h2>
        <table>
            <thead>
                <tr>
                    <th scope="col">Bus ID</th>
                    <th scope="col">Direction</th>
                    <th scope="col">Status</th>
                    <th scope="col">Delay</th>
                </tr>
            </thead>
            <tbody>
                <% busArray.forEach(element => { %>
                    <tr>
                        <th scope="row"><%= element.id %> </th>
                        <td>N/A</td>
                        <td><%= element.trip_update?.trip?.schedule_relationship %>.</td>
                        <% if (element.trip_update?.stop_time_update?.[1]?.arrival?.delay) { %>
                            <td><%= Math.floor(element.trip_update?.stop_time_update?.[1]?.arrival?.delay / 60) %>m <%= Math.abs(element.trip_update?.stop_time_update?.[1]?.arrival?.delay % 60) %>s</td>
                        <% } else {%>
                            <td></td>
                        <% } %>
                         

                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>